.main{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

Button{
    padding: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: #9e9d9d solid 1px;
    cursor: pointer;
    color: #1967D3;
    font-weight: 700;
}

Button img{
    width: 13px;
    margin-right: 3px;
}